[Unit]
Description=TV Streaming server
After=dbus.service
After=network.target

[Service]
#User=__APP__
EnvironmentFile=__CONF_FILE__
Type=forking
ExecStart=/usr/bin/__APP__  -l /var/log/tvheadend.log -u __APP__ -g video --http_port __PORT__ --htsp_port __STREAM_PORT__ --http_root __PATH_URL__ -f -6 --noacl
#ExecStart=/usr/bin/__APP__  -u __APP__ -g video -l $HTS_LOG_FILE --http_port $HTS_HTTP_PORT --htsp_port $HTS_STRM_PORT --http_root $HTS_HTTP_ROOT $HTS_OPTIONS
ExecStop=/usr/bin/rm /var/run/tvheadend.pid
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
